$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Figtree',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;

html {
  font-size: 17.5px;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}

.updates-section a {
  color: #2a6496 !important;
  text-decoration: none;
}
