---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-8">
    <h3 class="fw-bold">Research</h3>
    {{ content }}
  </div>
  <div class="col-md-4">
    <img src="{{ site.github.url }}/assets/img/prof_pic.jpg" alt="Tianjian Li" style="width: 100%; max-width: 320px; display: block; margin: 0 auto;">
    <div class="text-center mt-3 social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="mx-2 fs-4" style="color: #555;"><i class="{{ item.prefix | default: 'fab' }} fa-{{ item.icon }}"></i></a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts limit:8 %}
      <p><strong>{{ post.date | date: "%B %Y" }}.</strong> {{ post.content | replace: '<p>', '' | replace: '</p>', '' | strip }}</p>
    {% endfor %}
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Invited Talks</h3>
    {% for talk in site.data.talks %}
      <p class="mb-2"><strong>{{ talk.date }}.</strong> Invited talk on {{ talk.title }} at {{ talk.venue }}.</p>
    {% endfor %}
  </div>
</div>
